.productItemsMain{
    position: absolute;
    top: 80px;
    padding: 20px 20px 0 20px;
    font-size: 14px;
}

.header{
}

.headerTitle{
    font-weight: 700;
}

.filter{
    flex-shrink: 0;
    width:240px;
}

.filterHeadings{
    padding-top: 20px;
}

.subHeader{
    display: flex;
    column-gap: 15px;
}

.paginationBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (max-width:650px) {
    .filter{
        display: none;
    }
}

