.stampDiv{
    border: 1px solid rgb(221,174,58);
    border-radius: 50%;
    height: 100px;
    width:100px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: linear-gradient(to right, rgb(199, 199, 199) , rgb(250, 253, 255));


}

.innerStamp{
    border: 1px solid rgb(193,87,30);
    border-radius: 50%;
    height:80px;
    width:80px;
    display: flex;
    align-items: center;
    justify-content:center;
}