.BestOfBrandsList{
    margin: 0 auto;
    width: 98vw;
    overflow: auto;
    white-space: nowrap;
}

.BestOfBrandsListItem{
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    width: 184.9px;
    height: 235px;
    background-size: 184.9px 235px;

}

.BestOfBrandsList::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width:850){
    .BestOfBrandsListItem{
        width: 120px;
        height: 153px;
        background-size: 120px 153px;
    }
}

.BestOfBrandsListq{
    margin-top: 100px;
}

.BestOfBrandsListq>img{
    
    width: 184.9px;
    padding-right: 5px;
}