.CategoriesToBagList{
    margin: 0 auto;
    width: 98vw;
    overflow: auto;
    white-space: nowrap;
}

.CategoriesToBagListItem{
    display: inline-block;
    margin: 0 0.05px;
    width: 189.9px;
    height: 235.812px;
    background-size: 189.9px 235.812px;
}

.CategoriesToBagList::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width:850){
    .CategoriesToBagListItem{
        width: 110px;
        height: 136px;
        background-size: 110px 190px;
    }
}