.TopPicksList{
    margin: 0 auto;
    width: 98vw;
    overflow: auto;
    white-space: nowrap;
}

.TopPicksListItem{
    display: inline-block;
    margin-left: 0.25px;
    margin-right: 0.25px;
    width: 217.025px;
    height: 265.938px;
    background-size: 217.025px 265.938px;
}

.TopPicksList::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width:850){
    .TopPicksListItem{
        width: 120px;
        height: 146px;
        background-size: 120px 146px;
    }
}


.TopPicksList>img{
    width: 217.025px;
}