.nav-main{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
    background-color: #f6f6f6;
    z-index: 1;
    height: 80px;
    padding: 15px;
}

.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.navMenu{
    display: none;
    align-items: center;
    column-gap: 20px;

}
.navMenu p{
    font-weight: 700;
    margin: 0;
}

.sidebarBody{
    font-size: 14px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebarBody::-webkit-scrollbar {
    display: none;
}

.loggedInModelImage{
    height: 128px;
    background-color: #3f3947;
}

.profileIcon{
    background-color: #f6f6f6;
    display: inline-block;
    border-radius: 5px;
}

.modelImage{
    position: relative;
}

.modelImage>button{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}

.sidebarLoginBtn{
    position: absolute;
    color: #ff6085;
    bottom: 20%;
    right: 18%;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.topMenuContainer>p{
    padding:14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomMenuContainer>div{
    font-size: 14px;
    padding:14px 20px;
    font-weight: 300;
}

.naviLevelNewTagRact{
    margin-left: 5px;
    padding: 2px 6px;
    border-radius: 7px;
    border: 0.5px solid #ff3f6c;
    font-family: Assistant;
    font-size: 8px;
    font-weight: 600;
    color: #ff3f6c;
    vertical-align: middle;
}

.nav-logo{
    width: 53px;
    cursor: pointer;
    
}

.nav-title{
    font-size: 14px;
    font-weight: 700;
}

.nav-input{
    padding:10px ;
    width: 461px;
}

.nav-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}


.nav-profile span{
    font-weight: 700;
    
}

.searchbar{
    display: none;
}

.dropdownBtn{
    outline: none;
    border: none;
    font-weight: 700;
}

.bagItems{
    position: relative;
}

.bagCount{
    position: absolute;
    top: -6px;
    right: -12px;
    border-radius: 50%;
    padding: 2px 7px;
    background-color: tomato;
    color: white;
    font-size: 10px;
}

@media only screen and (max-width:1140px){
    .nav-input{
        display: none;
    }
}

@media only screen and (max-width:850px){
    .nav-title{
        display: none;
    }
    .profile{
        display: none;
    }
    .btnTagName{
        display: none;

    }
    .nav-main{
        justify-content:space-between;
    }
    .navlist{
        column-gap: 20px;
    }
    .navMenu{
        display: flex;
    }
    .nav-logo{
        display: none;
    }
    .searchbar{
        display: inline-block;
    }
}

@media only screen and (max-width:550px){
    .nav-main{
        height: 60px;
    }
}


