.nav-main{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    background-color: #f6f6f6;
    z-index: 1;
    height: 80px;
    padding: 0 100px;
}

.nav-logo{
    width: 53px;
    cursor: pointer;
}

.pageDesc{
    font-size: 14px;
    font-weight: 300;
}

.main{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;

}

.stamp{
    position: absolute;
    top: -40px;
    right: -40px;
}

.successCard{
    position: relative;
    height: 280px;
    width: 700px;
    box-shadow: 1px 1px 6px #cecece;
    border-radius: 1px;
    padding: 30px;
    font-size: 14px;
    color: grey;
}

.cardFlex{
    display: flex;
    
}
.orderDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #cecece;
}

.orderDesc h3{
    color: #14cda8;
    font-weight: 700;
}

.orderDetails{
    text-align:center;
    font-size:20px;
}



.orderBtn{
    border: none;
    padding: 10px 60px;
    background-color: rgb(255,63,108);
    color: white;
    font-weight: 700;
    border-radius: 5px;

}

@media only screen and (max-width:770px) {
    .orderDesc{
        border-right:none;
    }
    .successCard{
        height: 300px;
        width: 600px;
    }
    .orderDetailsMain p{
        margin: 0;
    }
}

@media only screen and (max-width:600px) {
    
    .successCard{
        height: 400px;
        width: 300px;
    }
   .nav-main{
        padding: 18px;
   }
   .logoDiv b{
    display: none;
   }
}