.dropdown-toggle::after{
    display: none;
    content: "";
}
/* .offcanvas{
    width: 60% !important;
} */
.offcanvas-header{
    padding: 0;
}

.offcanvas-body{
    padding: 0;
}

@media only screen and (max-width:500px){
    .offcanvas{
       width: 75% !important;
    }
 }